#experience {
  padding-top: 150px;
  width: 100%;
  box-sizing: border-box;
  /* max-height: 50vh; */
}

/* .section-head{
    padding-bottom: 0px;
} */

/* Mobile Responsive - 600px and below */
@media only screen and (max-width: 600px) {
  #experience {
    padding-top: 80px;
  }
}
