:root{
    --dark-navy: #0C2B4E;
    --light-navy: #1A3D64;
    --lightest-navy: #1D546C;
    --light-blue: #6e8fb5;
    --light-dark-blue: #4f6a89;
    --light-slate:#ccd6f6;
    --white: #F4F4F4;
    --green-tint: #64ffda;
}