html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

html,
body {
  cursor: none;
  
}

input,
textarea {
  cursor: text;
}



#content {
  /* background-color: var(--light-blue); */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 370px;
  padding-right: 370px;
}

body {
  background-color: var(--light-blue);
  
}

.section-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;

  color: var(--white);
  font-family: "Alfa Slab One", serif;
}

.section-head {
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 40px 24px;
  }

  #content {
    padding: 10px 10px;
    width: 100%;
  }
}
